@import "tailwindcss";

@plugin "tailwind-scrollbar";

@theme {
    --font-google: "Google Sans", sans-serif;
    --color-bg: hsl(0, 0%, 2%);
    --color-surface: hsl(0, 0%, 4%);
    --color-border: hsl(0, 0%, 10%);
    --color-textmute: hsl(0, 0%, 65%);
    --color-text: hsl(0, 0%, 90%);
    --color-bookedBorder: hsl(0, 70%, 10%);
    --color-bookedText: hsl(0, 70%, 25%);
    --color-bookedBg: hsl(0, 70%, 2%);
    --color-selectedBorder: hsl(240, 70%, 15%);
    --color-selectedBg: hsl(240, 70%, 4%);
}

html {
    @apply h-full;
    scrollbar-gutter: stable;
}

body {
    @apply font-google bg-bg text-text;
}

main {
    @apply mx-auto;
}

h1 {
    @apply text-2xl md:text-5xl lg:text-5xl;
}

h2 {
    @apply text-xl md:text-2xl lg:text-3xl;
}

h3 {
    @apply text-lg md:text-lg lg:text-xl;
}

p {
    @apply text-sm lg:text-base;
}

input,
select {
    @apply bg-surface border-border w-full rounded-lg border p-4 font-medium;
}

select:disabled,
input:disabled {
    @apply appearance-none border-0;
}

label {
    @apply text-textmute;
}

button {
    @apply cursor-pointer font-bold;
}

button:disabled {
    @apply pointer-events-none;
}
